In [3]:
import pandas as pd

## Import train

In [5]:
df = pd.read_csv("../datos/train.csv", index_col=0)

In [6]:
df.head()

    carat        cut color clarity  depth  table     x     y     z   price
id
0    0.30      Ideal     F     SI1   61.4   55.0  4.31  4.34  2.65  630.99
1    0.41      Ideal     G     SI1   61.6   57.0  4.77  4.81  2.95  701.21
2    0.30  Very Good     H     SI1   62.2   60.0  4.24  4.28  2.65  604.26
3    1.04    Premium     F    VVS2   62.5   58.0  6.46  6.37  4.01  909.90
4    0.84       Fair     G     VS1   55.6   64.0  6.42  6.32  3.54  790.99

## Build model

In [7]:
price_mean = df.price.mean()

In [8]:
price_mean

778.5273842541095

## Predict test

In [10]:
test = pd.read_csv("../datos/test.csv", index_col=0)

In [11]:
test.shape

(13485, 9)

In [12]:
test.head()

    carat        cut color clarity  depth  table     x     y     z
id
0    0.70  Very Good     H     SI1   61.0   58.0  5.67  5.70  3.47
1    1.52      Ideal     H     VS2   61.8   54.0  7.42  7.43  4.59
2    1.03      Ideal     E     SI1   62.0   57.0  6.44  6.47  4.00
3    0.70  Very Good     G    VVS1   63.3   57.0  5.59  5.63  3.55
4    1.28      Ideal     H     SI1   62.4   56.0  6.93  6.91  4.32

In [13]:
test["price"] = price_mean

In [14]:
test.head()

    carat        cut color clarity  depth  table     x     y     z       price
id
0    0.70  Very Good     H     SI1   61.0   58.0  5.67  5.70  3.47  778.527384
1    1.52      Ideal     H     VS2   61.8   54.0  7.42  7.43  4.59  778.527384
2    1.03      Ideal     E     SI1   62.0   57.0  6.44  6.47  4.00  778.527384
3    0.70  Very Good     G    VVS1   63.3   57.0  5.59  5.63  3.55  778.527384
4    1.28      Ideal     H     SI1   62.4   56.0  6.93  6.91  4.32  778.527384

## Prepare submission

In [15]:
my_submission = test["price"]

In [16]:
my_submission.head(5)

id
0    778.527384
1    778.527384
2    778.527384
3    778.527384
4    778.527384
Name: price, dtype: float64

In [17]:
type(my_submission)

pandas.core.series.Series

In [20]:
my_submission.to_csv("./diamonds/my_submission_day16_13h08.csv")

## Check submission format

In [21]:
!head -n 5 ./diamonds/my_submission_day16_13h08.csv

id,price
0,778.5273842541095
1,778.5273842541095
2,778.5273842541095
3,778.5273842541095

## Go to kaggle and submit!